{% extends 'base.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <ul>
        {% for pattern in patterns %}
            <li>
                <a href="{{ pattern['path'] }}" class="link">{{ pattern['name'] }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
