{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <div id="form">
        <div>
            <label for="name">Наименование</label>
            <div class="value">{{ name }}</div>
        </div>
        <div>
            <label for="name">Стоимость</label>
            <div class="value">{{ cost }}</div>
        </div>

        <div class="link">
            <div>
                <a href="{{ path('index') }}">Назад</a>
            </div>
        </div>
    </div>

{% endblock %}
